BasicConcepts/1.HelloWorld/.vs/1.HelloWorld/DesignTimeBuild/.dtbcache.v2
BasicConcepts/1.HelloWorld/.vs/1.HelloWorld/v17/.futdcache.v1
BasicConcepts/1.HelloWorld/.vs/1.HelloWorld/v17/.suo
BasicConcepts/1.HelloWorld/1.HelloWorld.sln
BasicConcepts/1.HelloWorld/1.HelloWorld/1.HelloWorld.csproj
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/1.HelloWorld.csproj.nuget.dgspec.json
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/1.HelloWorld.csproj.nuget.g.props
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/1.HelloWorld.csproj.nuget.g.targets
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.AssemblyInfo.cs
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.AssemblyInfoInputs.cache
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.ImplicitNamespaceImports.cs  BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.assets.cache BasicConcepts/1.HelloWorld/1.HelloWorld/obj/Debug/net6.0/1.HelloWorld.csproj.AssemblyReference.cache
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/project.assets.json
BasicConcepts/1.HelloWorld/1.HelloWorld/obj/project.nuget.cache
BasicConcepts/2.Comments/.vs/2.Comments/v17/.futdcache.v1
BasicConcepts/2.Comments/.vs/2.Comments/v17/.suo
BasicConcepts/2.Comments/2.Comments.sln
BasicConcepts/2.Comments/2.Comments/2.Comments.csproj
BasicConcepts/2.Comments/2.Comments/obj/2.Comments.csproj.nuget.dgspec.json
BasicConcepts/2.Comments/2.Comments/obj/2.Comments.csproj.nuget.g.props
BasicConcepts/2.Comments/2.Comments/obj/2.Comments.csproj.nuget.g.targets
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/2.Comments.AssemblyInfo.cs
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/2.Comments.AssemblyInfoInputs.cache
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/2.Comments.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/2.Comments.ImplicitNamespaceImports.cs
BasicConcepts/2.Comments/2.Comments/obj/Debug/net6.0/2.Comments.assets.cache
BasicConcepts/2.Comments/2.Comments/obj/project.assets.json
BasicConcepts/2.Comments/2.Comments/obj/project.nuget.cache
BasicConcepts/3.DataTypesAndOperators/.vs/3.DataTypesAndOperators/DesignTimeBuild/.dtbcache.v2
BasicConcepts/3.DataTypesAndOperators/.vs/3.DataTypesAndOperators/v17/.futdcache.v1
BasicConcepts/3.DataTypesAndOperators/.vs/3.DataTypesAndOperators/v17/.suo
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators.sln
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/3.DataTypesAndOperators.csproj
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/3.DataTypesAndOperators.csproj.nuget.dgspec.json
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/3.DataTypesAndOperators.csproj.nuget.g.props
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/3.DataTypesAndOperators.csproj.nuget.g.targets
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.AssemblyInfo.cs
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.AssemblyInfoInputs.cache
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.ImplicitNamespaceImports.cs
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.assets.cache
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/Debug/net6.0/3.DataTypesAndOperators.csproj.AssemblyReference.cache
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/project.assets.json
BasicConcepts/3.DataTypesAndOperators/3.DataTypesAndOperators/obj/project.nuget.cache
BasicConcepts/4.Constants/.vs/4.Constants/v17/.futdcache.v1
BasicConcepts/4.Constants/.vs/4.Constants/v17/.suo
BasicConcepts/4.Constants/4.Constants.sln
BasicConcepts/4.Constants/4.Constants/4.Constants.csproj
BasicConcepts/4.Constants/4.Constants/obj/4.Constants.csproj.nuget.dgspec.json
BasicConcepts/4.Constants/4.Constants/obj/4.Constants.csproj.nuget.g.props
BasicConcepts/4.Constants/4.Constants/obj/4.Constants.csproj.nuget.g.targets
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.AssemblyInfo.cs
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.AssemblyInfoInputs.cache
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.ImplicitNamespaceImports.cs
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.assets.cache
BasicConcepts/4.Constants/4.Constants/obj/Debug/net6.0/4.Constants.csproj.AssemblyReference.cache
BasicConcepts/4.Constants/4.Constants/obj/project.assets.json
BasicConcepts/4.Constants/4.Constants/obj/project.nuget.cache
BasicConcepts/5.DeclarationAndConversionVariables/.vs/5.DeclarationAndConversionVariables/DesignTimeBuild/.dtbcache.v2
BasicConcepts/5.DeclarationAndConversionVariables/.vs/5.DeclarationAndConversionVariables/v17/.futdcache.v1
BasicConcepts/5.DeclarationAndConversionVariables/.vs/5.DeclarationAndConversionVariables/v17/.suo
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables.sln
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables.csproj
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/5.DeclarationAndConversionVariables.csproj.nuget.dgspec.json
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/5.DeclarationAndConversionVariables.csproj.nuget.g.props
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/5.DeclarationAndConversionVariables.csproj.nuget.g.targets
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/5.DeclarationAndConversionVariables.AssemblyInfo.cs
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/5.DeclarationAndConversionVariables.AssemblyInfoInputs.cache
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/5.DeclarationAndConversionVariables.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/5.DeclarationAndConversionVariables.ImplicitNamespaceImports.cs
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/Debug/net6.0/5.DeclarationAndConversionVariables.assets.cache
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/project.assets.json
BasicConcepts/5.DeclarationAndConversionVariables/5.DeclarationAndConversionVariables/obj/project.nuget.cache
BasicConcepts/6.Conditionals/.vs/6.Conditionals/DesignTimeBuild/.dtbcache.v2
BasicConcepts/6.Conditionals/.vs/6.Conditionals/v17/.futdcache.v1
BasicConcepts/6.Conditionals/.vs/6.Conditionals/v17/.suo
BasicConcepts/6.Conditionals/6.Conditionals.sln
BasicConcepts/6.Conditionals/6.Conditionals/6.Conditionals.csproj
BasicConcepts/6.Conditionals/6.Conditionals/obj/6.Conditionals.csproj.nuget.dgspec.json
BasicConcepts/6.Conditionals/6.Conditionals/obj/6.Conditionals.csproj.nuget.g.props
BasicConcepts/6.Conditionals/6.Conditionals/obj/6.Conditionals.csproj.nuget.g.targets
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/6.Conditionals.AssemblyInfo.cs
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/6.Conditionals.AssemblyInfoInputs.cache
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/6.Conditionals.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/6.Conditionals.ImplicitNamespaceImports.cs
BasicConcepts/6.Conditionals/6.Conditionals/obj/Debug/net6.0/6.Conditionals.assets.cache
BasicConcepts/6.Conditionals/6.Conditionals/obj/project.assets.json
BasicConcepts/6.Conditionals/6.Conditionals/obj/project.nuget.cache
BasicConcepts/7.Switch/.vs/7.Switch/DesignTimeBuild/.dtbcache.v2
BasicConcepts/7.Switch/.vs/7.Switch/v17/.futdcache.v1
BasicConcepts/7.Switch/.vs/7.Switch/v17/.suo
BasicConcepts/7.Switch/7.Switch.sln
BasicConcepts/7.Switch/7.Switch/7.Switch.csproj
BasicConcepts/7.Switch/7.Switch/obj/7.Switch.csproj.nuget.dgspec.json
BasicConcepts/7.Switch/7.Switch/obj/7.Switch.csproj.nuget.g.props
BasicConcepts/7.Switch/7.Switch/obj/7.Switch.csproj.nuget.g.targets
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/7.Switch.AssemblyInfo.cs
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/7.Switch.AssemblyInfoInputs.cache
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/7.Switch.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/7.Switch.ImplicitNamespaceImports.cs
BasicConcepts/7.Switch/7.Switch/obj/Debug/net6.0/7.Switch.assets.cache
BasicConcepts/7.Switch/7.Switch/obj/project.assets.json
BasicConcepts/7.Switch/7.Switch/obj/project.nuget.cache
BasicConcepts/8.Methods/.vs/8.Methods/DesignTimeBuild/.dtbcache.v2
BasicConcepts/8.Methods/.vs/8.Methods/v17/.futdcache.v1
BasicConcepts/8.Methods/.vs/8.Methods/v17/.suo
BasicConcepts/8.Methods/8.Methods.sln
BasicConcepts/8.Methods/8.Methods/8.Methods.csproj
BasicConcepts/8.Methods/8.Methods/obj/8.Methods.csproj.nuget.dgspec.json
BasicConcepts/8.Methods/8.Methods/obj/8.Methods.csproj.nuget.g.props
BasicConcepts/8.Methods/8.Methods/obj/8.Methods.csproj.nuget.g.targets
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/8.Methods.AssemblyInfo.cs
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/8.Methods.AssemblyInfoInputs.cache
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/8.Methods.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/8.Methods.ImplicitNamespaceImports.cs
BasicConcepts/8.Methods/8.Methods/obj/Debug/net6.0/8.Methods.assets.cache
BasicConcepts/8.Methods/8.Methods/obj/project.assets.json
BasicConcepts/8.Methods/8.Methods/obj/project.nuget.cache
BasicConcepts/9.GuessTheNumber/.vs/9.GuessTheNumber/DesignTimeBuild/.dtbcache.v2
BasicConcepts/9.GuessTheNumber/.vs/9.GuessTheNumber/v17/.futdcache.v1
BasicConcepts/9.GuessTheNumber/.vs/9.GuessTheNumber/v17/.suo
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber.sln
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/9.GuessTheNumber.csproj
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/9.GuessTheNumber.csproj.nuget.dgspec.json
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/9.GuessTheNumber.csproj.nuget.g.props
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/9.GuessTheNumber.csproj.nuget.g.targets
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/9.GuessTheNumber.AssemblyInfo.cs
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/9.GuessTheNumber.AssemblyInfoInputs.cache
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/9.GuessTheNumber.GeneratedMSBuildEditorConfig.editorconfig
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/9.GuessTheNumber.ImplicitNamespaceImports.cs
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/Debug/net6.0/9.GuessTheNumber.assets.cache
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/project.assets.json
BasicConcepts/9.GuessTheNumber/9.GuessTheNumber/obj/project.nuget.cache
Exceptions/1.TryCatch/.vs/1.TryCatch/DesignTimeBuild/.dtbcache.v2
Exceptions/1.TryCatch/.vs/1.TryCatch/v17/.futdcache.v1
Exceptions/1.TryCatch/.vs/1.TryCatch/v17/.suo
Exceptions/1.TryCatch/1.TryCatch.sln
Exceptions/1.TryCatch/1.TryCatch/1.TryCatch.csproj
Exceptions/1.TryCatch/1.TryCatch/obj/1.TryCatch.csproj.nuget.dgspec.json
Exceptions/1.TryCatch/1.TryCatch/obj/1.TryCatch.csproj.nuget.g.props
Exceptions/1.TryCatch/1.TryCatch/obj/1.TryCatch.csproj.nuget.g.targets
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/1.TryCatch.AssemblyInfo.cs
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/1.TryCatch.AssemblyInfoInputs.cache
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/1.TryCatch.GeneratedMSBuildEditorConfig.editorconfig
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/1.TryCatch.ImplicitNamespaceImports.cs
Exceptions/1.TryCatch/1.TryCatch/obj/Debug/net6.0/1.TryCatch.assets.cache
Exceptions/1.TryCatch/1.TryCatch/obj/project.assets.json
Exceptions/1.TryCatch/1.TryCatch/obj/project.nuget.cache
Exceptions/2.CheckedUnchecked/.vs/2.CheckedUnchecked/DesignTimeBuild/.dtbcache.v2
Exceptions/2.CheckedUnchecked/.vs/2.CheckedUnchecked/v17/.futdcache.v1
Exceptions/2.CheckedUnchecked/.vs/2.CheckedUnchecked/v17/.suo
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked.sln
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/2.CheckedUnchecked.csproj
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/2.CheckedUnchecked.csproj.nuget.dgspec.json
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/2.CheckedUnchecked.csproj.nuget.g.props
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/2.CheckedUnchecked.csproj.nuget.g.targets
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/2.CheckedUnchecked.AssemblyInfo.cs
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/2.CheckedUnchecked.AssemblyInfoInputs.cache
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/2.CheckedUnchecked.GeneratedMSBuildEditorConfig.editorconfig
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/2.CheckedUnchecked.ImplicitNamespaceImports.cs
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/Debug/net6.0/2.CheckedUnchecked.assets.cache
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/project.assets.json
Exceptions/2.CheckedUnchecked/2.CheckedUnchecked/obj/project.nuget.cache
Exceptions/3.Finally/.vs/3.Finally/DesignTimeBuild/.dtbcache.v2
Exceptions/3.Finally/.vs/3.Finally/v17/.futdcache.v1
Exceptions/3.Finally/.vs/3.Finally/v17/.suo
Exceptions/3.Finally/3.Finally.sln
Exceptions/3.Finally/3.Finally/3.Finally.csproj
Exceptions/3.Finally/3.Finally/obj/3.Finally.csproj.nuget.dgspec.json
Exceptions/3.Finally/3.Finally/obj/3.Finally.csproj.nuget.g.props
Exceptions/3.Finally/3.Finally/obj/3.Finally.csproj.nuget.g.targets
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/3.Finally.AssemblyInfo.cs
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/3.Finally.AssemblyInfoInputs.cache
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/3.Finally.GeneratedMSBuildEditorConfig.editorconfig
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/3.Finally.ImplicitNamespaceImports.cs
Exceptions/3.Finally/3.Finally/obj/Debug/net6.0/3.Finally.assets.cache
Exceptions/3.Finally/3.Finally/obj/project.assets.json
Exceptions/3.Finally/3.Finally/obj/project.nuget.cache
Exceptions/4.OwnExceptions/.vs/4.OwnExceptions/v17/.futdcache.v1
Exceptions/4.OwnExceptions/.vs/4.OwnExceptions/v17/.suo
Exceptions/4.OwnExceptions/4.OwnExceptions.sln
Exceptions/4.OwnExceptions/4.OwnExceptions/4.OwnExceptions.csproj
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/4.OwnExceptions.csproj.nuget.dgspec.json
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/4.OwnExceptions.csproj.nuget.g.props
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/4.OwnExceptions.csproj.nuget.g.targets
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/4.OwnExceptions.AssemblyInfo.cs
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/4.OwnExceptions.AssemblyInfoInputs.cache
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/4.OwnExceptions.GeneratedMSBuildEditorConfig.editorconfig
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/4.OwnExceptions.ImplicitNamespaceImports.cs
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/Debug/net6.0/4.OwnExceptions.assets.cache
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/project.assets.json
Exceptions/4.OwnExceptions/4.OwnExceptions/obj/project.nuget.cache
